
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap%27');


header{
    background-color: rgba(59, 147, 247, 0.925);

}
.navbar{
    padding: 0px;
}


.navbar .container-fluid{
    background-color: rgba(59, 147, 247, 0.925) ;

}


.botonesheader{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}


.carousel-inner div img{
    height: 90vh;
    width: auto;
}
.acercar{
    overflow: hidden;
}
.acercar img{
    transition: all 3s;
}
.acercar:hover img{
    transform: scale(2);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mg-bottom{
    margin-bottom: 20px;
}


.bg-pieDePagina{
    background-color:  rgba(59, 147, 247, 0.925);
    padding-top: 20px;
}

.copy{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.copy a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.tarjetaAbajo{
    display: flex;
    align-items: center;
}

.tarjetas img{
    height: 27px;
    width: auto;
}


/* grid en productos */

/* mobile first 0px-500px*/
*{
    padding:0;
    margin:0;
}

.bodyproductos{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.envoltura{
    background-color: rgba(59, 147, 247, 0.925);
    font-size: large;
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style-type: none;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}
.lifooter ul li a{
    list-style-type: none;
    text-decoration: none;
    list-style: none;
}


.copy{
    text-align: center;
    display: grid;
    justify-content: center;
}
.footerproductos{
    padding: 3em;
    background-color: rgba(59, 147, 247, 0.925);
    margin-bottom: 0;
    margin-top: 1.5em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}


/* declaro las grid area*/

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}
.hero6{
    grid-area: titulo;
}
.productos-pro{
    grid-area: galeria;
}
.footerproductos{
    grid-area: footer;
}

/*empiezo con mi grilla general*/

.envoltura{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "titulo"
    "galeria"
    "footer";
    gap:20px;
}
.productos-pro{
    background-color: rgb(253, 210, 145);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.productos-pro img{
    border: 8px solid #3a3548;
    width: 300px;
    height: 250px;
    margin-top: 15px;
}

/* declarar mi primera MQ */

@media(min-width:500px){
    .envoltura{
        margin: 0;
        display: grid;
        grid-template-areas: 
        "header   header"
        "nav      nav"
        "titulo   titulo"
        "galeria  galeria"
        "footer   footer";
        gap:20px;
        grid-template-columns: 1fr 3fr;
    }
}
.productos-pro{
    background-color: rgb(253, 210, 145);
}
.productos-pro img{
    border: 8px solid #3a3548;
    width: 300px;
    height: 250px;
    margin-top: 15px;
}
.footerproductos{
    margin-top: 0;
}

@media (min-width:768px){
    .envoltura{
        margin-bottom: 1.5em;
        display: grid;
        grid-template-areas: 
        "header   header header"
        "nav      nav    nav"
        "titulo   galeria galeria"
        "titulo   galeria galeria"
        "titulo   galeria galeria"
        "footer   footer  footer";
        grid-template-columns: 1fr 2fr 2fr; 
    }
}
.productos-pro img{
    border: 8px solid #3a3548;
    width: 300px;
    height: 250px;
    margin-top: 15px;
}

/* LAS 3 HTML VIEJOS SIN CAMBIOS */


.headerNMC{
    background-color: rgb(61, 116, 161);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 132px;
}
.headerNMC nav{
    display: flex;
    align-items: center;
}

.headerNMC nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;

}

.headerNMC nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;


}

.footerNMC{
    background-color:  rgba(59, 147, 247, 0.925);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lifooterNMC{
    width: 33%;
}
.lifooterNMC ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;



}
.lifooterNMC ul li a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;


}
.copyNMC{
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.copyNMC a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.logofooterNMC{
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 10px;
}

.tarjetasNMC img{
    height: 27px;
    width: auto;
}
/** index */


/**main nosotros*/

.nosotrosmain h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);

}
.nosotrosmain div{
    width: 960px;
}
.nosotrosmain{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nosotrosmain div p{
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}
/**main contacto*/
.contactomain{
    height: calc(100vh - 322px);
}
.hero2{
    display: flex;
    justify-content: center;

}


.hero2 h1{
    position: absolute;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.hero2 img{
    width: 450px;
    height: auto;
}
.redescontacto{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px 0px 0px;
}
.divstart {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: black;
    font-weight: bold;

}

.wpc {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fbc {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.instagramc{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textocontacto{
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/**mi cuenta*/

.micuentamain{
    height: calc(100vh - 322px);
    padding: 50px 0px 0px 15px;
    font-family: 'Poppins', sans-serif;
}
.hero3{
    padding: 0px 0px 50px 0px;


}
.hero3 h1{
    position: absolute;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.datos h2{
    padding-top: 30px;
}