
.carousel-inner div img{
    height: 90vh;
    width: auto; 
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mg-bottom{
    margin-bottom: 20px;
}

.acercar{
    overflow: hidden;
}
.acercar img{
    transition: all 1.5s;
}
.acercar:hover img{
    transform: scale(1.5);
}

.contactomain{
    height: calc(100vh - 322px);
}

.redescontacto{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px 0px 0px;
}
.divstart {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: black;
    font-weight: bold;

}

.wpc {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fbc {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.instagramc{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textocontacto{
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
}